#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    /*overflow: hidden;*/
    position: absolute;
    top: 0;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
    background-color:black;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#cboxOverlay {
}
#colorbox {
}
#cboxTopLeft {
    position:relative;
    top:1px;
    height:10px;
    width:5px;
}
#cboxTopRight {
    height: 5px;
    width: 5px;
}
#cboxBottomLeft {
    height: 11px;
    width: 5px;
}
#cboxBottomRight {
    height:10px;
    width:5px;
}
#cboxMiddleLeft {
    width: 5px;
}
#cboxMiddleRight {
    width: 5px;
}
#cboxTopCenter {
    height:11px;
}
#cboxBottomCenter {
    height:10px;
}
#cboxContent {
    background: none repeat scroll 0 0 #FFFFFF;
}
.cboxIframe {
    background: none repeat scroll 0 0 #FFFFFF;
}
#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}
#cboxLoadedContent {
   position:relative;
   top:10px;
}
#cboxCurrent {
   display:none;
}
#cboxSlideshow {
    bottom: 4px;
    color: #0092EF;
    position: absolute;
    right: 30px;
}
#cboxPrevious {
    position:absolute;
    bottom:325px;
    left:-49px;
    text-indent:-9999px;
    height:62px;
    width:46px;
}
#cboxPrevious:hover {
    background-position: 0px -65px;
}
#cboxNext {
    position:absolute;
    bottom:325px;
    right:-50px;
    text-indent:-9999px;
    height:62px;
    width:46px;
}
#cboxNext:hover {
    background-position: -54px -65px;
}
#cboxLoadingOverlay {
}
#cboxLoadingGraphic {
}
#cboxClose {
    position:absolute;
    top:-16px;
    right:-16px;
    height:30px;
    width:33px;
    text-indent:-9999px;
}
#cboxClose:hover {
    background-position: -2px -39px;
}
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
}
.cboxIE6 #cboxTopLeft {
}
.cboxIE6 #cboxTopCenter {
}
.cboxIE6 #cboxTopRight {
}
.cboxIE6 #cboxBottomLeft {
}
.cboxIE6 #cboxBottomCenter {
}
.cboxIE6 #cboxBottomRight {
}
.cboxIE6 #cboxMiddleLeft {
}
.cboxIE6 #cboxMiddleRight {
}
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
}


#cboxContent h1 {
	padding-left: 10px;
	padding-right: 10px;
}

#cboxContent p {
	padding-left: 10px;
	padding-right: 10px;
}
